Package: oracle-dumb
Version: 1.0-1
Architecture: all
Maintainer: Kryazhevskikh Sergey, <soliverr@gmail.com>
Installed-Size: 2
Provides: oracle-client, oracle-server
Section: database
Priority: required
Description: Provides dependencies for an `oracle-dba'.
 This package need to provide package dependencies to build or install
 a bunch of `oracle-dba' packages.
 .
 Install this package if you want to use `oracle-dba' packages and already
 had installed an Oracle RDBMS or Oracle client software by the official way
 (Oracle Universal Installer).
